{% extends "PaulMaxwellStudentsAccountingBundle:Default:_abstract_list.html.twig" %}

{% block content %}
    {{ parent() }}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Group</th>
                <th>Course</th>
                <th>Accounting number</th>
            </tr>
        </thead>
        <tbody>
        {% for n, student in students %}
            <tr>
                <td>{{ n+1 }}</td>
                <td>
                    {{ student.person.namelast }}
                    {{ student.person.namefirst }}
                    {{ student.person.namepatronymic }}
                </td>
                <td>
                    {{ student.group.title }}
                    ({{ student.group.speciality.code }} {{ student.group.speciality.title }})
                </td>
                <td>{{ student.group.course }}</td>
                <td>
                    {{ student.accountingNumber }}
                    (<a href="{{ url('paul_maxwell_students_accounting_students_remove', {'id': student.id}) }}">Remove</a>)
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
